{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n cms_admin js %}
{% block title %}{% trans "List of pages" %}{% endblock %}
{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
    <div id="breadcrumbs">
    <a href="../../">{% trans "Home" %}</a> &rsaquo; 
    <a href="../">{{ app_label|capfirst|escape }}</a> &rsaquo; {{ opts.verbose_name_plural|capfirst|escape }}
    </div>
{% endblock %}
{% endif %}

{% block coltype %}flex{% endblock %}
{% block extrahead %}
    <link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}css/pages.css"/>
    <link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}css/jquery.dialog.css" />
    
    {{ block.super }}
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery.livequery.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery.bind.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery.form.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}jstree/jquery.jstree.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/jquery-ui.custom.min.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/lib/functional.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/tools.js"></script>
    <script type="text/javascript" src="{{ CMS_MEDIA_URL }}js/change_list.js"></script>
    
    
    
    {% if cl.is_filtered %}
    <link rel="stylesheet" type="text/css" href="{{ CMS_MEDIA_URL }}jstree/themes/default/style.css" />
    {% endif %}
{% endblock %}

{% block object-tools %}
    <ul class="tools">
        {% if has_recover_permission %}
        <li><a href="recover/" class="recoverlink focus">{% blocktrans with cl.opts.verbose_name_plural|escape as name %}Recover deleted {{name}}{% endblocktrans %}</a></li>
        {% endif %}
        {% if has_add_permission %}
        <li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="add-handler focus">{% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}</a></li>
        {% endif %}
    </ul>
  {% include "admin/cms/page/loading.html" %}
{% endblock %}

{% block content %}
    <script type="text/javascript">
    //<![CDATA[	
        $(function() {
        		{% if not cl.is_filtered %}
        			initTree();
        		{% endif %}		
        	
        	
           	moveSuccess = function(node){
           		var msg = $('<span class="success">{% trans "Successfully moved" %}</span>');
           		node.append(msg);
           	    msg.fadeOut(3000);
           	}
           	moveError = function(node){
           		var msg = $('<span class="success">{% trans "An error occured. Please reload the page" %}</span>');
           		node.append(msg);
           	}
           	// some settings used by javascript functions
           
           	cmsSettings = {
           		cmsPermission: {{ CMS_PERMISSION|js }},
           		cmsModerator: {{ CMS_MODERATOR|js }},
           		debug: {{ DEBUG|js }}
           	};
        });
    //]]>
    </script>
    
    {% if cl.search_fields or cl.has_filters or cl.date_hierarchy %}
    <div class="module changelist-filters">
        {% if cl.has_filters or cl.search_fields %}
            {% if cl.has_access_to_multiple_sites %}
            <div id="site-selector" class="module site-selector">
               <label>{% trans "Pages on:" %}</label>
                <select id="site-select">
                    {% for site in cl.sites %}
                    <option {% ifequal site.pk cl.current_site.pk %}selected {% endifequal %}value="{{ site.pk }}">{{ site.name }}</option>
                    {% endfor %}
                </select>
            </div>
            {% else %}
            <input type="hidden" id="site-select" value="{{ cl.sites.0.pk }}">
            {% endif %}
            <!-- FILTERS -->
            {% if cl.has_filters %}
            <div id="filters" class="module filter span-6">
                <div class="pulldown-container">
                    <a href="javascript://" class="button toggle-filters">{% trans 'Filter' %}</a>
                    <div class="filter-pulldown">
                        {% for spec in cl.filter_specs %}{% admin_list_filter cl spec %}{% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- SEARCH -->
            {% if cl.search_fields %}
            <div id="search" class="module search span-6">
                {% block search %}{% search_form cl %}{% endblock %}
            </div>
            {% endif %}
        {% endif %}
        <br clear="all" />
    </div>
        <!-- DATE HIERARCHY -->
        {% if cl.date_hierarchy %}
            {% date_hierarchy cl %}
        {% endif %}
    {% endif %}
    
    <div id="changelist" class="container-full{% if cl.list_editable %} editable{% endif %}">
    {% include "admin/cms/page/change_list_tree.html" %}
    </div>
    <div id="vakata-contextmenu"></div>
    <div id="dialogs"></div>
{% endblock %}
